<h1>Bebidas</h1>
<%= link_to 'Adicionar Bebida', new_establishment_drink_path(@establishment) %>

<% if @drinks.any? %>
  <ul>
    <% @drinks.each do |drink| %>
      <li>
        <%= link_to drink.name, establishment_drink_path(@establishment, drink) %>
        <%= link_to 'Editar', edit_establishment_drink_path(@establishment, drink) %>
        <%= button_to 'Remover Bebida', establishment_drink_path(@establishment, drink), method: :delete, data: { turbo_confirm: 'Tem certeza que deseja remover essa bebida?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma bebida disponível</p>
<% end %>

<div>
 <%= link_to('Voltar', establishments_path) %>
</div>
