<div class="container">
  <div class="header text-center mb-4">
    <h1 class="text-primary">PaLevá</h1>
    <h2 class="text-secondary">Cardápio <%= @menu.name %></h2>
  </div>

  <div class="content">
    <div class="card shadow-sm mb-4">
      <div class="card-body bg-light">
        <h3 class="card-title text-primary">Informações do Cardápio</h3>
        <p class="text-secondary">Descrição: <%= @menu.description %></p>
        
        <div class="actions">
          <%= link_to 'Editar', edit_establishment_menu_path(@establishment, @menu), class: 'btn btn-outline-primary' %>
          <%= button_to 'Excluir', establishment_menu_path(@establishment, @menu), 
              method: :delete, 
              class: 'btn btn-outline-danger',
              data: { turbo_confirm: 'Tem certeza?' } %>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="text-primary mb-0">Menu</h3>
      <%= link_to 'Adicionar Item', 
        new_establishment_menu_menu_item_path(@establishment, @menu), 
        class: 'btn btn-primary' %>
    </div>
    <div class="card shadow-sm mb-4">
      <div class="card-header">
        <h3 class="card-title text-primary mb-0">Pratos</h3>
      </div>
      <div class="card-body bg-light">
        <% if @menu.dishes.any? %>
          <ul class="list-unstyled">
            <% @menu.dishes.each do |dish| %>
              <li>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div>
                    <strong class="text-secondary"><%= dish.name %></strong>
                    <small class="text-muted d-block">- <%= dish.description %></small>
                  </div>
                  <div class="text-muted">
                    <% dish.portions.each do |portion| %>
                      <small>
                        <%= portion.description %> - 
                        <%= number_to_currency(portion.price, unit: "R$", separator: ",", delimiter: ".") %>
                      </small>
                      <br>
                    <% end %>
                  </div>

                  <div class="ms-3 mt-1">
                    <%= link_to add_item_establishment_order_path(establishment_id: @establishment.id, id: current_order.id, menu_item_id: @menu.menu_items.find_by(dish_id: dish.id).id, type: 'dish'), 
                        class: 'btn btn-sm btn-outline-primary me-2' do %>
                      Adicionar ao Pedido
                    <% end %>
                    <%= link_to 'Editar', 
                        edit_establishment_menu_menu_item_path(@establishment, @menu, @menu.menu_items.find_by(dish_id: dish.id)), 
                        class: 'btn btn-sm btn-outline-primary me-2' %>
                    <%= button_to 'Remover', 
                        establishment_menu_menu_item_path(@establishment, @menu, @menu.menu_items.find_by(dish_id: dish.id)), 
                        method: :delete,
                        class: 'btn btn-sm btn-outline-danger',
                        data: { confirm: 'Tem certeza?' } %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">Nenhum prato adicionado a este cardápio.</p>
        <% end %>
      </div>
    </div>

    <div class="card shadow-sm mb-4">
      <div class="card-header">
        <h3 class="card-title text-primary mb-0">Bebidas</h3>
      </div>
      <div class="card-body bg-light">
        <% if @menu.drinks.any? %>
          <ul class="list-unstyled">
            <% @menu.drinks.each do |drink| %>
              <li>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div>
                    <strong class="text-secondary"><%= drink.name %></strong>
                    <small class="text-muted d-block">- <%= drink.description %></small>
                  </div>
                  <div class="text-muted">
                    <% drink.portions.each do |portion| %>
                      <small>
                        <%= portion.description %> - 
                        <%= number_to_currency(portion.price, unit: "R$", separator: ",", delimiter: ".") %>
                      </small>
                      <br>
                    <% end %>
                  </div>

                  <div class="ms-3 mt-1"> 
                    <%= link_to add_item_establishment_order_path(establishment_id: @establishment.id, id: current_order.id, menu_item_id: @menu.menu_items.find_by(drink_id: drink.id).id, type: 'drink'), 
                        class: 'btn btn-sm btn-outline-primary me-2' do %>
                      <i class="fas fa-plus"></i> Adicionar ao Pedido
                    <% end %>
                    <%= link_to 'Editar', 
                        edit_establishment_menu_menu_item_path(@establishment, @menu, @menu.menu_items.find_by(drink_id: drink.id)), 
                        class: 'btn btn-sm btn-outline-primary me-2' %>
                    <%= button_to 'Remover', 
                        establishment_menu_menu_item_path(@establishment, @menu, @menu.menu_items.find_by(drink_id: drink.id)), 
                        method: :delete,
                        class: 'btn btn-sm btn-outline-danger',
                        data: { confirm: 'Tem certeza?' } %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">Nenhuma bebida adicionada a este cardápio.</p>
        <% end %>
      </div>
    </div>

    <div class="text-center mt-4">
      <%= link_to 'Voltar', establishment_menus_path(@establishment), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
