<div class="container">
  <h1>Novo Pedido</h1>

  <%= form_with(model: [@establishment, @order], local: true) do |f| %>
    <div class="menu-items">
      <% @menu_items.each do |menu_item| %>
        <div class="menu-item-card">
          <h3><%= menu_item.name %></h3>
          <p><%= menu_item.description %></p>
          <p class="price">R$ <%= number_with_precision(menu_item.price, precision: 2) %></p>
          
          <div class="quantity-selector">
            <%= f.fields_for :order_items do |oi| %>
              <%= oi.hidden_field :menu_item_id, value: menu_item.id %>
              <%= oi.select :quantity, options_for_select(0..10), {}, class: 'form-select' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
       <p> Nome do cliente: </p>
       <%= f.text_field :customer_name %>
    </div> 
    <div>
      <p> CPF do cliente: </p>
      <%= f.text_field :customer_cpf %>
    </div>
    <div>
      <p> email do cliente: </p>
      <%= f.text_field :customer_email %>
    </div>
    <div class="order-summary">
      <h2>Resumo do Pedido</h2>
      <div id="total-amount"></div>
      <%= f.submit "Confirmar Pedido", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
