<div class="container mt-4">
  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>Pedido #<%= @order.id %></h2>
      <% if @order.status == 'draft' || @order.status == 'pending' %>
        <h4><%= link_to 'Adicionar Items', establishment_menus_path(@order.establishment), class: 'btn btn-primary' %></h4>
      <% end %>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4>Informações do Pedido</h4>
          <p><strong>Data:</strong> <%= @order.status == 'draft' ? l(DateTime.now, format: :long) : l(@order.created_at, format: :long) %></p>
          <p><strong>Status:</strong> <span class="badge bg-<%= @order.status == 'completed' ? 'success' : 'warning' %>">
            <%= case @order.status
                  when 'draft' then 'Rascunho'
                  when 'pending' then 'Pendente'
                  when 'preparing' then 'Em Preparação'
                  when 'ready' then 'Pronto'
                  when 'delivered' then 'Entregue' 
                  when 'cancelled' then 'Cancelado'               
                end %>
          </span></p>
          <p><strong>Valor Total:</strong> <%= number_to_currency(@order.total_price) %></p>
        </div>

        <div class="col-md-6">
          <h4>Informações do Cliente</h4>
          <% if @order.status == 'draft' %>
            <%= form_with model: @order, url: establishment_order_path(@order.establishment, @order), method: :patch, id: 'update-order-form', local: true do |f| %>
              
              <div class="form-group">
                <%= f.label :customer_name, 'Nome:' %>
                <%= f.text_field :customer_name, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                <%= f.label :customer_email, 'Email:' %>
                <%= f.text_field :customer_email, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                <%= f.label :customer_cpf, 'CPF:' %>
                <%= f.text_field :customer_cpf, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :customer_phone, 'Telefone:' %>
                <%= f.text_field :customer_phone, class: 'form-control' %>
              </div>
              
              <%= f.submit 'Atualizar', class: 'btn btn-primary', id: 'update-order-button' %>
            <% end %>
          <% else %>
            <p><strong>Nome:</strong> <%= @order.customer_name %></p>
            <p><strong>Email:</strong> <%= @order.customer_email %></p>
            <p><strong>cpf:</strong> <%= @order.customer_cpf %></p>
            <p><strong>Telefone:</strong> <%= @order.customer_phone %></p>
          <% end %>
        </div>
      </div>

      <div class="mt-4">
        <h4>Itens do Pedido</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço Unitário</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_menu_items.each do |item| %>
              <tr>
                <td><%= item.menu_item.dish.nil? ? item.menu_item.drink.name : item.menu_item.dish.name %></td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency(item.portion.price) %></td>
                <td><%= number_to_currency(item.quantity * item.portion.price) %></td>
                <% if @order.status == 'draft' %>
                  <td><%= button_to 'Remover', remove_item_establishment_order_path(@order.establishment, @order, item_id: item.id), method: :delete, class: 'btn btn-danger' %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

     <div class="card-footer">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <% unless  @order.status == 'canceled' || @order.status == 'delivered' || @order.status == 'ready' || @order.status == 'completed' || @order.status == 'pending' || @order.status == 'preparing' %>
            <%= button_to 'Cancelar Pedido', 
                cancel_establishment_order_path(@order.establishment, @order), 
                method: :patch,
                class: 'btn btn-danger me-2' %>
          <% end %>
          <%= link_to 'Voltar', establishment_orders_path(@order.establishment), class: 'btn btn-secondary' %>
        </div>
        <div class="d-flex">
          <% if @order.can_progress? %>
            <%= button_to change_status_establishment_order_path(@order.establishment, @order, cancel: true),
                method: :patch,
                class: 'btn btn-success me-2',
                form_class: 'd-inline-block' do %>
              <%= @order.status == 'draft' ? 'Enviar para Cozinha' :
                  @order.status == 'pending' ? 'Iniciar Preparação' :
                @order.status == 'preparing' ? 'Marcar como Pronto' :
                @order.status == 'ready' ? 'Marcar como Entregue' : '' %>
            <% end %>
          <% end %>
          <% if @order.status == 'draft' %>
            <button type="submit" class="btn btn-primary" id="update-order">
              Atualizar
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('update-order').addEventListener('click', function() {
    document.getElementById('update-order-form').submit();
  });
</script>
