<div class="container mt-4">
  <div class="row mb-4">
    <div class="col">
      <h1>Características</h1>
      <%=link_to 'Criar Característica', new_establishment_tag_path(@establishment), class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="list-group">
        <% @tags.each do |tag| %>
          <div class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <h4 class="mb-0"><%=link_to tag.name, establishment_tag_path(@establishment, tag), class: "text-decoration-none" %></h4>
            <div class="btn-group">
              <%= link_to 'Editar', edit_establishment_tag_path(@establishment, tag), class: "btn btn-sm btn-primary me-2" %>
              <%= button_to 'Excluir', establishment_tag_path(@establishment, tag), 
                  method: :delete,
                  class: "btn btn-sm btn-danger",
                  form: { data: { turbo_confirm: 'Tem certeza?' } } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <%= link_to 'Voltar para Pratos', establishment_dishes_path(@establishment), class: "btn btn-secondary" %>
    </div>
  </div>
</div>