<div class="container mt-4">
<% if current_user&.role? %>
    <%= link_to 'Convites de Funcionários', 
                new_establishment_employee_invitation_path(@establishment), 
                class: 'btn btn-primary' %>
  <% end %>
  <div class="card shadow-sm">
    <div class="card-body bg-light">
      <h2 class="card-title text-primary"><%= @establishment.name %></h2>

      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <p><strong>Nome Fantasia:</strong> <%= @establishment.social_name %></p>
          <p><strong>CNPJ:</strong> <%= @establishment.cnpj %></p>
          <p><strong>Cidade:</strong> <%= @establishment.city %></p>
          <p><strong>Endereço:</strong> <%= @establishment.full_address %></p>
          <p><strong>Estado:</strong> <%= @establishment.state %></p>
          <p><strong>CEP:</strong> <%= @establishment.postal_code %></p>
          <p><strong>Email:</strong> <%= @establishment.email %></p>
          <p><strong>Telefone:</strong> <%= @establishment.phone_number %></p>
          <p><strong>Código:</strong> <%= @establishment.code %></p>

          <div class="d-flex gap-3">
            <%= link_to 'Editar', edit_establishment_path(@establishment), class: 'btn btn-outline-primary' %>
            <%= link_to 'Voltar', establishments_path, class: 'btn btn-outline-secondary' %>
            <%= button_to 'Remover', establishment_path(@establishment), 
                         method: :delete, confirm: 'Tem certeza?', class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>