<h1>Pratos</h1>
<ul>
  <% @dishes.each do |dish| %>
    <li>
      <%= link_to dish.name, establishment_dish_path(@establishment, dish) %>
      <%= link_to 'Editar', edit_establishment_dish_path(@establishment, dish) %>
      <%= link_to 'Remover', establishment_dish_path(@establishment, dish), method: :delete, data: { confirm: 'Tem certeza?' } %>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to 'Criar Novo Prato', new_establishment_dish_path, class: 'btn btn-primary' %>
</p>
<p>
  <%= link_to('Voltar', establishments_path) %>
</p>
