<h2><%= @dish.name %></h2>
<p> Descrição: <%= @dish.description %></p>
<p>Calorias: <%= @dish.calories %></p>
<p>Status: <%= @dish.status ? 'Ativo' : 'Inativo' %></p>

<%= button_to @dish.status ? 'Inativar' : 'Ativar', toggle_status_establishment_dish_path(@establishment, @dish), method: :patch %>


<div>
  <%= link_to "Editar este prato", edit_establishment_dish_path(@establishment, @dish) %> <br />
</div>
<div>
  <%= button_to 'Remover Prato', establishment_dish_path(@establishment, @dish), method: :delete, data: { turbo_confirm: 'Tem certeza que deseja remover este prato?' } %>
</div>
<div>
  <%= link_to 'Voltar', establishment_dishes_path(@establishment) %>
</div>


<h2>Porções Disponíveis</h2>

<% if @dish.portions.any? %>
  <table>
    <thead>
      <tr>
        <th>Descrição</th>
       <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <% @dish.portions.each do |portion| %>
        <tr>
          <td><%= portion.description %></td>
          <td>R$ <%= number_with_precision(portion.price, precision: 2) %></td>
          <td>
            <%= link_to 'Editar', edit_establishment_dish_portion_path(@establishment, @dish, portion) %> |
            <%= button_to 'Remover', establishment_dish_portion_path(@establishment, @dish, portion), 
                method: :delete, 
                data: { turbo_confirm: 'Tem certeza que deseja remover esta porção?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma porção cadastrada.</p>
<% end %>

    <%= link_to 'Adicionar Porção', new_establishment_dish_portion_path(@establishment, @dish) %>
</div>
<% if @dish.photo.present? %>
  <p><%= image_tag @dish.photo%></p>
<% end %>

<h3>Histórico de Preços</h3>
<% @price_histories.order(created_at: :desc).each do |history| %>
  <p>
    <%= history.portion.description %> <%= number_to_currency(history.price) %>
    (<%= l history.created_at, format: :short %>)
    <%= "(Inativa)" if history.portion.deleted_at.present? %>
  </p>
<% end %>