<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Take Away" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>

        <div class="search-form">
          <%= form_with url: search_establishments_path, method: :get, local: true do |f| %>
            <%= f.text_field :query, value: params[:query], placeholder: "Buscar pratos ou bebidas..." %>
            <%= f.submit "Buscar", class: "btn btn-outline" %>
          <% end %>
        </div>

      <form class="form-inline">
        <% if current_user&.establishment&.persisted? && current_order %>
          <button class="btn btn-outline-success" type="button">
            <%= link_to 'Ver Pedido Atual', establishment_order_path(current_user.establishment, current_order) %>
          </button>
          <span class="navbar-text" style="margin-left: 10px;">
            <%= current_user.email %>
          </span>
        <% end %>
      </form>
    </nav>

    <%= yield %>
  </body>
</html>
