<div class="container">
  <div class="header text-center mb-4">
    <h1 class="text-primary">PaLevá</h1>
    <h2 class="text-secondary"><%= @establishment.name %></h2>
  </div>

  <div class="content">
    <div class="card shadow-sm">
      <div class="card-body bg-light">
        <h3 class="card-title text-primary">Informações do Estabelecimento</h3>
        <p><strong>Telefone:</strong> <%= @establishment.phone_number %></p>
        
        <div class="actions">
          <%= link_to 'Editar Estabelecimento', edit_establishment_path(@establishment), class: 'btn btn-outline-primary' %>
          <%= link_to 'Remover Estabelecimento', establishment_path(@establishment), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Tem certeza?' } %>
          <%= link_to 'Ver Estabelecimento', establishment_path(@establishment), class: 'btn btn-outline-info' %>
        </div>
      </div>
    </div>

    <div class="card shadow-sm mt-4">
      <div class="card-body bg-light">
        <h3 class="card-title text-primary">Cardápios</h3>
        <div class="actions">
          <%= link_to 'Criar Cardápio', new_establishment_menu_path(@establishment), class: 'btn btn-outline-primary' %>
          <%= link_to 'Ver Cardápios', establishment_menus_path(@establishment), class: 'btn btn-outline-info' %>
        </div>
      </div>
    </div>

    <div class="card shadow-sm mt-4">
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title text-primary">Bebidas</h3>
            <div class="actions">
              <%= link_to 'Nova Bebida', new_establishment_drink_path(@establishment), class: 'btn btn-outline-primary' %>
              <%= link_to 'Ver Bebidas', establishment_drinks_path(@establishment), class: 'btn btn-outline-info' %>
            </div>
          </div>

          <div class="col-md-6">
            <h3 class="card-title text-primary">Pratos</h3>
            <div class="actions">
              <%= link_to 'Novo Prato', new_establishment_dish_path(@establishment), class: 'btn btn-outline-primary' %>
              <%= link_to 'Ver Pratos', establishment_dishes_path(@establishment), class: 'btn btn-outline-info' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm mt-4">
      <div class="card-body bg-light">
        <h3 class="card-title text-primary">Horário de Funcionamento</h3>
        <ul class="list-unstyled">
          <% @establishment.working_hours.each do |working_hour| %>
            <li><%= working_hour.week_day %> - <%= working_hour.open ? "#{working_hour.opening_hour} às #{working_hour.closing_hour}" : 'Fechado' %> <%= link_to('Editar', edit_establishment_working_hour_path(@establishment, working_hour)) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card shadow-sm mt-4">
      <div class="card-body bg-light">
        <h3 class="card-title text-primary">Pedidos</h3>
        <div class="actions">
          <%= link_to 'Novo Pedido', new_establishment_order_path(@establishment), class: 'btn btn-outline-primary' %>
          <%= link_to 'Ver Pedidos', establishment_orders_path(@establishment, @order), class: 'btn btn-outline-info' %>
        </div>
      </div>
    </div>
  </div>
</div>
