<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Take Away" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Our Logo</a>

        <div class="search-form">
          <%= form_with url: search_establishments_path, method: :get, local: true do |f| %>
            <%= f.text_field :query, value: params[:query], placeholder: "Buscar pratos ou bebidas..." %>
            <%= f.submit "Buscar", class: "btn btn-outline" %>
          <% end %>
        </div>

      <form class="form-inline">
        <% if current_user %>
          <button class="btn btn-outline-primary" type="button" style="margin-right: 10px;">
            <%= link_to current_user.email, edit_user_registration_path %>
          </button>
          <button class="btn btn-outline-success" type="button">
            <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
          </button>
        <% else %>
          <button class="btn btn-outline-primary" type="button" style="margin-right: 10px;">
            <%= link_to "Entrar", new_user_session_path %>
          </button>
          <button class="btn btn-outline-success" type="button">
            <%= link_to "Criar conta", new_user_registration_path %>
          </button>
        <% end %>
      </form>
    </nav>

    <%= yield %>
  </body>
</html>
